<h1>Welten des Nebels</h1>

Welten des Nebels ist eine Herausforderung für mich selbst. Ich bin bereits einmal an diesem Projekt gescheitert. <br>
Jugendlicher Leichtsinn und Größenwahn haben eine Umsetzung des Projektes damals leider unmöglich gemacht.<br>
Doch mittlerweile fühle ich mich dem Gewachsen.<br>
Mein stil ist gefestigt und als zu komplexe, wirre Verflechtungen der Gesichte wurden gestrichen.<br>
Sie wurde verändert, verbessert.<br>
Inspiriert wurde die Geschichte, durch die derzeitige Verschmelzung westlichen Fantasys mit dem östlichen.<br>
Schriftsteller wie Sergej Lukianenko und Dmitry Glukhovsky, haben meine Denkweise in Bezug auf
den ursprünglichen Gedanken etwas verändert.<br>
<br>
<b>Welten des Nebels,</b><br>
spielt in einer Welt des Umbruches. Genauer gesagt in der Welt der industriellen Revolution.
Allerdings wurde aus dieser, nach einem Kometeneinschlag die "Magisch industrielle Revolution".
<br><br>
Inspiriert durch Büchners "Dantons Tod", kam ich auf den Gedanken meine eigene Welt zu schaffen.
Eine Welt des Gesellschaftlichen und Politischen Umbruches. Die "magisch industrielle Revolution"
bot mir genau die Möglichkeiten die ich brauchte, um diese Welt zu schaffen.<br>
Dreizig Jahre nach der Revolution und vierzig Jahre nach dem Kometeneinschlag,
begleitet der Leser den Protagonisten Mart durch jene Welt.
<br>
<br><br>
<b>Auszüge:</b><br>
<br>

"Er steht im grauen Nebel den Blick starr nach vorn gerichtet.
Kein Herzschlag zu spüren, keine Angst, keine Wut, er starrt einfach nur in den Nebel.
Nicht sicher welche Richtung er einschlagen soll. <br>
Seine Ohren lauschen in die Stille.
Die Stimme der Stille drückt auf seine Ohren, betäubt ihn.
Im Nebel formen sich nach und nach Gestalten.<br>
Fratzen, Gesichter, er kneift die Augen zusammen, versucht etwas zu erkennen.<br>
Der Nebel verzieht sich für einen kurzen Moment.
Angst stürzt auf ihn herein. Angst, Wut und Verzweiflung dringen aus dem Nebel zu ihm. 
Er spürt diese uralten Gefühle, diesen alten vergessenen, nie gehörten Hilfeschrei.<br>
Dann schlägt er die Augen auf."
