<h1>Leidenschaft <i>Schreiben</i></h1>

Veröffentlichungen: 
<br><br>
<a href="http://www.sphera-verlag.de/catalog/product_info.php?products_id=31&osCsid=d7efd655bba382f4011742984901a4ac">"Lord Theodor" in "Blasse Gesichter - Vampirgeschichten"</a>
<br>
<a href="http://www.sphera-verlag.de/catalog/product_info.php?products_id=32&osCsid=d7efd655bba382f4011742984901a4ac">"Außer mir" in "Neben dem Verstand - Geschichten vom Fremden in mir!</a>
<br>
<br>
<br>

In Arbeit:
<br><br>
<%= link_to 'Welten des Nebels' , 'Autor/WeltendesNebels' %>
<br>
<br>
Kurzgeschichten:
<br><br>
<%= link_to 'Schwarzmalerei' , 'Autor/Schwarzmalerei' %>