<h1>Schwarzmalerei</h1>
<b>von Sascha Gundel</b><br>
<br>
Es war dunkle, kein Lichtstrahl verirrte sich ins Atelier und doch strahlten die Farben gerade zu. Er sah das Bild, das aus all dem Schwarz hervor stach. Alles andere seiner Arbeit erschien so sinnlos vor diesem Bild.
Er schaute auf das Gemälde und sah wie es sich veränderte. Die Frau schien ihn anzulächeln, diese eine wahre Frau aus der Vergangenheit.
Er erwachte schweißgebadet und gestresst mit einem unbeschreiblichen Glücksgefühl, das sofort zerbrach als die Realität auf ihn einfiel. Er erhob sich und schaute aus dem Fenster. Der Mond strahlte aus dunklen Wolken hervor, nie gänzlich zu sehen. Er verströmte rotes Licht. 
Er ging in die Küche öffnete den Kühlschrank und machte sich einen kleinen Mitternachtssnack. Diese Träume ließen ihm einfach keine Ruhe. Mit dem Brot in der Hand betrat er sein eigens, kleines Reich. Ein Raum mit Bildern, die die Öffentlichkeit niemals zu sehen bekäme. Leere Bilder. Bilder von Orten. Orte die sie gemocht hatte und an denen sie nun fehlte. Genau deswegen waren sie leer, weil sie fehlte. Er saß da in seinem bequemen Bürostuhl drehte sich von einer Ecke zur anderen und betrachtete diese leeren Bilder im Zwielicht, zwischen Mondschein und Glühbirne. Sie fehlte ihm wirklich. Er griff zu einer Flasche Hochprozentigen.
Langsam wiegten ihm Einsamkeit und Alkohol in den Schlaf, ließen für kurze Zeit vergessen, was nicht zu vergessen war.
Diese Welt war furchtbar.<br>
Er sah sich selbst, sitzend in diesem Bürostuhl, der nicht in einem solchem Raum stehen sollte. Nicht zwischen all der dunklen Kunst.
All diese Gedanken in seinem Kopf hämmerten auf ihn ein, umgaben ihn mit Dunkelheit. Er sah wie die Schatten aus den Ecken auf ihn zukamen, die Glühbirne erlosch. Der Mond wurde von Wolken verhängt. Sie griffen nach ihm, die Schatten.
Er öffnete die Augen, saß auf dem Stuhl.<br>
„Ich fühle deinen Schmerz“, die Stimme war so vertraut, so real. Ein Dorn in seiner Seele. Er schüttelte sich und stand auf, knipste halbtrunken das Licht an.
Er schaute sich kurz um und musste feststellen, dass alles in Ordnung war. Diese Träume würden ihn wirklich ins Grab begleiten.
Sein Finger legte den Schalter wieder um.<br>
„Ich vermisse dich“, flüsterte er ins Dunkel. Er schloss die Tür und meinte noch etwas in der Dunkelheit gesehen zu haben. Sein Bett war kalt und leer, aber es bot ein wenig Schutz vor der Einsamkeit.<br>
Im Schlaf glitt seine Hand immer wieder zu dem Fleck an dem sie sonst lag. Glitt zur Leere weg vom Herzen, direkt zu dem Loch das sie hinterlassen hatte. Auch dieser Schlaf war nicht erholsam und viel zu kurz. Immer wieder hörte er ihre Stimme im Traum. Schatten griffen nach ihm, nach seinem Verstand, manifestierten sich in seinen Träumen und bedeckten seine Seele mit Kummer.<br>
Seine Augen öffneten sich wie von selbst.<br>
„Ich spüre deinen Schmerz.“<br>
Er sah sie im Zwielicht an seiner Tür stehen, wie sie davon ging, hinaus in den Flur. Er folgte ihr ohne zu denken. Folgte ihr in den Raum der leeren Bilder. Doch er sah sie nicht, sah nichts von der Frau seines gebrochenen Herzens.
Der Schalter kippte um und gleißendes Licht erhellte den Raum. Er erschrak als er die Bilder sah. Die leeren Bilder, die nun gefüllt waren mit ihrem Antlitz. Langsam trugen seine zitternden Beine ihm zum Stuhl, ließen ihn hinab fallen. Seine Augen huschten hin und her, erfüllt von Schrecken.<br>
Die Tür schloss sich leise.<br>
Er saß da, starrte auf die Bilder, konnte es nicht fassen. Wut, Trauer, Angst und Hass stiegen in ihm auf. 
„Sie sind schön. Gefallen mir.“<br>
Er hörte ihre Stimme und erstarrt, erschrak. Spürte seine Seele zerspringen.
Ihre Hand legte sich auf seine Schulter. Er traute nicht sich umzudrehen.
„Das Bild am Kanal. Ist das der Kanal an dem wir uns kennen gelernt haben?“
Er antwortete nicht.<br>
„Es gefällt mir. Ich mag den Regen.“<br>
„Was bist du?“<br>
Die Hand glitt von seiner Schulter.<br>
„Erkennst du meine Stimme nicht? Dreh dich um Schatz, dann siehst du mich.“<br>
Er zitterte.<br>
„Natürlich kenne ich diese Stimme! Wie sollte ich sie je vergessen können! Also was bist du!?“<br>
„Ich bin deine Frau.“<br>
„Sophie ist tot!“<br>
Das Pochen ihrer Stöckelschuhe hallte durch den Raum, als sie
sich vor ihn bewegte. Er sah sie – es. Es sah genauso aus.<br>
„Du bist tot“, sagte er und schluckte schwer.<br>
„Was redest du da?“, sie beugte sich zu ihm hinab, legte ihre sanften Lippen auf die seinen. Seine Seele starb hunderte Tode. Wie sehr hatte er sich das gewünscht und doch war es nicht echt.
„Du bist tot“, sagte er mehr um es sich selbst in Erinnerung zu rufen.<br>
Sie umkreiste ihn weiterhin.<br>
„Erinnerst du dich noch daran, wie wir uns das erste Mal sahen?“<br>
Ihre Hand legte sich auf seine Schulter. Sie drehte seinen Stuhl direkt vor dieses eine Bild. Es schien zu wachsen, auf ihn zu zukommen.
Dann war er dort an diesem Ort des leeren Bildes. An dem Moment als sich zum ersten Mal ihre Blicke trafen. Er spürte den warmen Sommerregen. Stand oben am Geländer und schaute hinab auf den Steg, auf dem er sich selber sitzen sah.
„Erinnerst du dich noch?“, ertönt die Stimme von hinten.<br>
„Du hattest dich damals nicht getraut mich anzusprechen. Aus Angst ich könne dich zurückweisen. Du warst nie der Draufgänger wenn es um andere Menschen ging.“
Sie legte ihre Arme um seinen Bauch und drückte sich an ihm. Er war steif wie ein Brett.<br>
„Siehst du, es passiert gerade jetzt, ich spreche dich an.“<br>
„Du fragst mich was eine so schöne Frau alleine an einen solchen Ort, bei solchen Wetter zu suchen hat. Erinnerst du dich?“<br>
Er roch ihr Haar und erschauderte.<br>
„Ich sagte ich würde etwas suchen, was habe ich dir aber nie gesagt. Weißt du was ich gesucht habe?“<br>
„Nein“, flüsterte er.<br>
„Dich. Ich habe dich gesucht und gefunden. Ich mag den Regen, er hat uns zusammen gebracht. Hast du mich auch gesucht?“<br>
„Immerzu“, er zittert.<br>
„Freust du dich mich zu sehen?“<br>
„Nein“, er löste sich von ihr, drehte sich um und schaut sie an, „du bist nicht sie!“<br>
„Wer sollte ich sonst sein?“<br>
„Ich weiß es nicht“, er flüsterte mehr als das er sprach.<br>
„Schau nach unten, ich gebe dir gerade meine Nummer. Du hattest zwei Tage gewartet bis du mich angerufen hast. Ich weiß dass du nur wegen der Tradition gewartet hast. Du wolltest mich sofort.“<br>
Er schluckte, der Regen nahm zu und das Bild vor ihm wurde unscharf. Es entfernte sich, stieß ihn zurück in seinen Raum der leeren Bilder.<br>
„Ich mag den Regen und ich mag wie du ihn malst. Erinnerst du dich? Das erste Mal als wir uns küssten? Es regnete.“<br>
Der Stuhl drehte sich und zeigte auf ein neues Bild. Es zeigte eine kleine Brücke im Park, wieder einmal im Regen und unter dem Regenschirm, nun nicht mehr er alleine, sondern zusammen mit ihr.<br>
„Das habe ich nicht so gemalt...“, protestierte er kleinlaut.<br>
„Aber so hast du es gesehen und erlebt. Und vor allem hast du es so gefühlt. Oder?“<br>
Er schüttelte den Kopf.<br>
„Nein, gefühlt habe ich Leere. Deswegen war es auch leer.“<br>
Sie griff nach seiner Hand und er starrte auf diese.<br>
„Aber nun bin ich hier. Ich fülle diese Leere mein Schatz. Du bist mein Maler und ich deine Muse. Du wirst großes vollbringen.“<br>
Er zog die Hand zurück.<br>
„Du bist nicht sie!“<br>
„Erinnere dich an den ersten Kuss. Schau auf das Bild.“<br>
Wieder kam das Bild auf ihn zu, füllte das ganze Zimmer bis er selbst ein Teil der Szene war.<br>
„Das zweite Date und schon hattest du mich. Ich war und bin dir verfallen. Nichts hatten wir gesagt. Wir standen nur da unter dem Schirm im Regen. Schauten zu wie die Tropfen ins Wasser fielen und kleine Wellen ins Leben riefen. Dann trafen sich unsere Blicke, unsere Lippen bewegten sich aufeinander zu und dann geschah es. Ich hatte mich verliebt.“
„Aufhören!“, schrie er und die Szene zerbrach. Er wollte aufspringen doch wurde er von dem Viech, das seine Frau sein wollte, sanft zurück gedrückt und zu einem anderen Bild gedreht. Sie küsste ihn wieder.<br>
„Erinnere dich doch! Bitte!“<br>
„Du bist nicht sie! Sie ist tot!“<br>
Sie kniete sich vor ihm und griff nach seinen Händen.<br>
„Nein bin ich nicht, erinnere dich doch. Ich bin nie gestorben, vertrau mir doch.“<br>
Er spürte förmlich wie die Schatten im Raum stärker worden und nach seinem Verstand griffen.<br>
„Du hattest nur wieder einen Schub. Schatz, es ist alles in Ordnung, beruhige dich doch. Dein Kopf spielt dir nur einen streich. Glaub mir doch und komm zurück zu mir.“<br>
Sie weinte.<br>
„Erinnere dich was die Ärzte dir gesagt haben. Weißt du noch warum du diese Bilder gemalt hast? Um dich zu erinnern. Schatz, komm zurück zu mir.“<br>
Er schüttelte den Kopf. Sein Verstand war voll mit diesen Bildern und Stimmen von fremden Personen. Immer wieder sah er diesen einen Arzt, der ihn etwas erklärte.<br>
„Nein! Das ist nicht wahr ich habe es gesehen! Ich habe gesehen wie du gestorben bist!“<br>
Sie lächelte.<br>
„Ich bin hier.“<br>
„Nein! Nein! Bist du nicht!“<br>
„Ich spüre deinen Schmerz. Komm in meine Arme und du wirst ihn vergessen und nie vermissen.“<br>
Sie stand auf und breitete die Arme aus.<br>
Er aber blieb stur sitzen und funkelte sie aus einer Mischung von Trotz und Verzweiflung an.<br>
„Du bist nicht echt!“, wiederholte er.<br>
„Ich bin echt, ich steh vor dir. Ich war nie fort, das hast du dir alles bloß eingebildet. Vertrau mir, schau auf die Bilder.
Er funkelte sie weiterhin an.<br>
„Es war der siebzehnte November, als unser Auto von einem betrunkenen Fahrer gerammt wurde und du auf dem Beifahrersitzt neben mir verblutetest. Als ich dich in den Armen hielt, während deine Augen sich schlossen und du diese Welt verliest, fort von mir, fort von der Welt die du, ja die du so sehr liebtest! Ich weiß, dass das wahr ist, weil ich weiß, dass der Schmerz in mir wahr ist und der Traum von der lebenden Liebe nichts weiter als die Sehnsucht nach Sophie.“<br>
„Was redest du da?“<br>
„Du bist nicht sie Dämon!“<br>
Sie fing an zu zittern, er glaubte sie kalt erwischt zu haben.<br>
„Halte dich nicht an diese Illusion fest. Du gehörst zu mir. schau dir das Bild an!“<br>
Er schloss die Augen.<br>
„Ich halte an keiner Illusion fest!“<br>
Er spürte ihre Hand wieder auf seiner Schulter.<br>
„Ich kenne da etwas, dass du niemals vergessen könntest. Dass du dir niemals nur eingebildet haben könntest. Dass dich wieder glauben lässt, dass unsere Liebe immer noch existiert.“<br>
Sie strich langsam hinab über seinen Arm, bis hin zum Handgelenk.<br>
„Ich spreche von unserer ersten Nacht. Wir waren bei mir zu Hause. Weißt du noch? Ich war so erregt. Ich konnte mich kaum zurück halten.“<br>
Sie kicherte.<br>
„Ich erinnere mich noch genau wie ich auf dem Bett lag, du langsam über mich krochst und mich küsstest. Schaus dir an.“<br>
Er hielt die Augen geschlossen.<br>
„Was glaubst du ist wahrscheinlicher? Dass ein Dämon wie deine Frau aussieht und in deine Wohnung einbricht, oder dass dein Verstand dir einen Streich spielt?“<br>
In seinem Kopf herrschte ein Chaos aus Gedanken und Emotionen. Seine Wut wurde langsam von Neugierde vertrieben und er öffnete die Augen. 
Er schluckte schwer als er die Szene sah. Es wäre zu schön um wahr zu sein. Er schaute den Dämon in die Augen.<br>
„Ich glaube dir immer noch nicht.“<br>
Es lächelte.<br>
„All diese Bilder die du gemalt hast. All diese leeren Bilder hast du ihretwegen gemalt?“<br>
„Ja.“<br>
„Du vermisst sie wirklich und doch willst du mir nicht glauben? Willst deinen Schmerz nicht vergessen? Du verkriechst dich seit Jahren in deiner Wohnung, lässt jeden nur so weit an dich ran wie es notwendig ist. Du nimmst schon lange nicht mehr am Leben teil. Ohne sie bist du nichts und doch lehnst du mich ab?“<br>
Er schluckte, „ja.“<br>
„Du bewunderst sie, nein du vergötterst sie, auch jetzt noch nach ihren Tod. Vielleicht sogar noch mehr als vorher. Deine Fantasie beeinflusst dein Urteilsvermögen, sie ist schon lange nicht nur mehr deine tote Frau, sie ist mehr. Dein Verstand erhebt sie zu etwas Göttlichem. Etwas von dem du glaubst es nie wieder zu finden, deswegen willst du mir nicht glauben?“<br>
Er schluckte, dieses Ding las ihn wie ein offenes Buch.
Nun lächelte es süffisant.<br>
„Du hast immer ihre Kunst sich auszudrücken geliebt. Sie war Tänzerin, deswegen das leere Tanzstudio.“<br>
Sie drehte wieder den Stuhl, direkt zu einem Bild, das ihn mit tausend Erinnerungen quälte. Sie wie sie tanzte.
Die Musik rollte über das Parkett, brachte seine Beine zum zittern. Es war dunkel, nur ein Lichtstrahl erhellte die Mitte des Raumes und dort stand sie. Und dann kam der Bass, der Tanz begann. Ihre Beine erhoben sich vom Boden, so schnell so elegant. Nur im Tanz war sie frei, hatte sie gesagt. Nur im Tanz konnte sie die Welt, Welt sein lassen, alles vergessen, all den Schmerz hinter sich lassen. Der Tanz schuf ihre eigene kleine Welt, ihr Paradies. All ihre Emotionen im Tanz waren echt und doch nicht bei ihr. Ihr Körper tanzte sie, tanzte den Schmerz der Seele weg, während diese sich erhob, einen kleinen Segelflug fern der schrecklichen Welt unter ihr unternahm.
Nur wenn ihre Füße sich von dem glänzenden Parkettboden abstießen, nur dann war sie frei, war sie wirklich sie selbst. Nur in diesen Moment und in dem Moment in seinen Armen.
„Ich kann sie zurückbringen“, flüsterte der Dämon, „alles was du tun musst ist mein Maler werden. Ganz allein mein Maler.“<br>
Er schluckte.<br>
Es spielte mit seinem Schmerz, drehte und wendete alles so wie es ihm passte.
Es gelang ihm sich vom Stuhl zu erheben und zur Tür zu gehen. Seine Hand schloss sich um die Türklinge, er war fest entschlossen, so fest entschlossen das alles hinter sich zu lassen. Die Toten ruhen zu lassen.
Sein Schmerz rechtfertigte nicht so etwas.
Er drückte zu, doch die Klinke gab nicht nach.<br>
Sie küsste ihn in den Nacken und flüsterte.<br>
„Du bist hier in meiner Welt, ich lasse dich nicht gehen. Jede Nacht in der du ihren Namen gewinselt hattest. In der du dich in den Schlaf geheult hattest, da wurde ich stärker. Da baute ich eine Bindung zu dir auf. Ich kann dich erlösen. Nimm mein Angebot an und ich bringe sie dir zurück. Ich lebte in deinen Träumen, doch nun, ja nun bin ich stark genug die Welt zu ändern. So zu ändern wie du es willst und verdienst. Du hast genug gelitten. Nimm an.“<br>
Tränen rollten über seine Wangen. Diese Stimme zerschmetterte ihn.<br>
Er drehte sich abrupt um, stieß das Wesen beiseite und sackte dann an der Tür zusammen, vergrub das Gesicht in den Händen.<br>
Sie kniete sich näher, berührte ihn und flüsterte weiter auf ihn ein.<br>
Die Schatten griffen weiter nach ihm und seinen Verstand, sie wollten ihn, brauchten ihn, brauchten sein Talent und seine Kunst. Aber er versperrte sich, er war so versteift auf seinen Schmerz. Er war ihn zu sehr gewohnt. Er glaubte nicht an die Erlösung, erst recht nicht an Erlösung durch Böses. 
Sie, der Dämon brauchten jemand anderes, jemanden der eine ähnliche Kunst beherrschte. Jemanden der dem Schmerz nicht so verfallen war. Im Dunklen formten sich grausige Gedanken.
Sie küsste ihn und er nickte.<br>
„Du weißt was zu tun ist.“<br>
Er nickte bloß. Er war gebrochen.<br>
Die Glühbirne ging an, beleuchtete leicht die Leinenwand. Farbe und Pinsel waren bereit, er legte los. Er wusste was zu malen war und doch als es fertig. Als er fertig war Stunden lang im Halbdunkeln ein Bild zu malen, das alles bisherige in den Schatten stellen sollte, erschrak er.
„Solch eine Tat verlangt ein Opfer, das wusstest du doch.“<br>
Er starrte auf das Bild, das ihn in diesen Raum der leeren Bilder zeigte, zeigte wie er in Flammen stand.<br>
„Hier kommt deine Erlösung.“<br>
Die Schatten wurden dichter, formten eine Gestalt. Die Gestalt seiner Frau, seiner echten Frau. Er sah sie, sah sie nach so vielen Jahren ein letztes Mal. Er spürte kaum wie die Flammen nach ihm griffen. Er war erlöst.
Die Frau versuchte die Augen zu öffnen, aber die Hitze verhinderte, dass sie etwas sah.
Angst ergriff sie.<br>
Dann berührte sie eine zarte Hand.<br>
„Schnell wir müssen hier raus, das Haus brennt!“<br>
Sie wurde hoch gehoben, aus der Wohnung gezogen, sie schrie jemand solle ihren Mann retten. Doch nichts geschah, sie wurde fortgezogen und verzweifelte.<br>
„Sie sah zu wie das Haus brannte, abbrannte und ertrug bibbernd die Nachricht, ihr Mann sei umgekommen.<br>
Die Schatten griffen nach ihr.<br>
 
