<h1>Es ist tot</h1>
<center><%= image_tag("Tietelbild_versuch1.jpg", :width => 400) %></center>
<br><br>
<i>Es ist tot</i>,<br>
ist der Arbeitstietel unseres Games-Projektes aus unseren Studium an der HAW.<br>
<br>
Das Spiel ist ein Adventure mit einem großen Anteil von Thriller und Horror.<br>
<br>
Eien Zusammenfassung der Gruppe:<br>
<br>
Konzept
<br><br><br>
 

Als Projekt für KG 2 haben wir es uns zur Aufgabe gemacht, ein Spiel für den PC zu programmieren.
Die Engine wird der RPG Maker XP von Enterbrain sein. Im Vordergrund des Spiels steht das Story-Telling. Als Aufgabe für den Spieler werden Rätsel zu lösen sein.
Ein besonderes Merkmal ist die Grafik. Wir werden versuchen, nur mit schwarz und weiß zu arbeiten, um der Geschichte etwas Surreales hinzuzufügen.
Obwohl das Spiel in 2D erscheinen wird, wollen wir versuchen, den Text als Audiodateien wiederzugeben. Es ist ansonsten üblich, die Geschichte durch simplen Text auf dem Bildschirm zu erzählen. Erst mit den 3D-Spielen hat man angefangen, den Text auch einzusprechen.
<br><br>
Generell muss man sagen, dass wir nicht alles ins Detail hinein planen, da das Spiel durch sein besonderes Konzept so undefinierbar geworden ist, dass viele Sachen im Entstehungsprozess sofort abgeklärt werden müssen und nicht im Vorwege.
<br><br><br>
 

Die Idee<br><br><br>

 

In einem anderen Projekt haben wir uns schon mit dem Selbstmord eines Mädchens beschäftigt. Wir wollten allerdings noch einen anderen Weg einschlagen, als in diesem Projekt eingeschlagen wurde.
<br>
Wir begannen über unsere Ideen zu reden und arbeiteten ein eigenes Konzept für ein Spiel aus, in dem:
<br><br>
- es um ein Mädchen in einer surrealen Welt zwischen Tod und Leben gehen sollte.
<br><br>
- die Welt nur aus schwarz und weiß (später etwas grau für den Himmel) bestehen sollte.
<br><br>
- das Mädchen von eine Dämon gejagt wird.
<br><br>
 

Inspiration hierfür waren unter anderem ein Gruppen-Selbstmord, der in der Zeitung stand, und eine Geschichte von Sascha Gundel.
<br><br><br>
Geschichte
<br><br><br>
 

Dieses Spiel handelt von einem Mädchen, das zwischen Leben und Tod schwebt. Sie findet sich in einer Welt wieder, die die ihr bekannte Welt wiederspiegelt, aber viel kälter und lebloser wirkt. Als sie in ihrem Schlafzimmer im alten Ferienhaus ihrer Eltern aufwacht, bemerkt sie eine dunkle Präsenz, die ihr Angst einzujagen versucht und ihr immerzu befiehlt, sich ihr zu fügen.
In Angst versucht das Mädchen vor der dunklen Gestalt zu fliehen, jedoch scheint diese überall zu sein und jeden ihrer Schritte zu überwachen.
Die Aufgabe des Spielers ist es nun, vor diesem Dämon zu fliehen und dem Mädchen zu helfen, die Welt zu verstehen und letztendlich vielleicht sogar zu verlassen.
<br><br><br>
 

Struktur
<br><br><br>
 

Grundsätzlich wird das Spiel in drei Phasen aufgebaut sein, die die Beziehung zwischen dem Mädchen und dem Dämon darstellen.
<br>
In der ersten Phase glaubt das Mädchen mithilfe der Welt, in der sie sich wiederfindet, den Dämon zu überwinden und so vor ihm zu fliehen. Die Welt in dieser Phase ist weiß. In dieser Phase wird es eine Art "Open World" geben. Man muss als Spieler mehrere Endpunkte erreichen, abgesehen von einigen Abhängigkeiten zwischen den Wegen zu den Zielen, wird es dem Spieler überlassen sein, zu welchem Punkt er zunächst gehen möchte.
<br>
In der zweiten Phase erkennt das Mädchen, dass der Dämon die Erscheinung der Welt bestimmt und sie hört ihn zumindest an. In dieser Phase gibt es zwei Parallele Welten, eine weiß und eine schwarz. Was in der einen Welt passiert, wird Auswirkungen auf die andere haben. Ab dieser Phase wird das Storytelling geradlinig. Der Reiz besteht hier in der besonderen Art der Rätsel, die durch die zwei Welten entstehen.
<br>
Die dritte Phase wird letztendlich fast nur noch Storytelling beinhalten und nur ein oder zwei größere Rätsel. In dieser Phase ist die Welt schwarz. Das Mädchen erkennt das gute Wesen des Dämons.
<br><br><br>

<%= image_tag("screen1.jpg", :width => 495) %> <%= image_tag("screen2.jpg", :width => 495) %>
