<h1>Aktuelle Projekte</h1>
<br>
<b>Schreiben:</b>
<br><br>
<%= link_to 'Welten des Nebels(Roman)' , 'Autor/WeltendesNebels' %>

<br><br>

<b>Games: </b><br>
<br>
<%= link_to "Es ist tot(Studienprojekt für Künstlerische Gestaltung)", 'Projekte/esisttot' %>
<br>
<%= link_to "Splatterkram (Studienprojekt für Mediengestaltung)", 'Projekte/Splatterkram' %>

<br><br>

