<h1>Splatterkram</h1>

<%= image_tag("Titelbild_oder_so_backup.tif", :width => 500) %><br><br>

Ist wie <%= link_to "Es ist tot", 'Projekte/esisttot' %> ein Uni-Projekt.
Bereits im ersten Semester hatten wir uns zusammengefunden, um ein 2d Game Konzept zu besprechen.<br>
Ursrünglich hatten wir vor ein Mix aus strategie und Rpg zu bieten.
Mussten dann allerdings feststellen, dass die Umsetzungd azu, zwar möglich wäre,
aber doch recht kompliziert und aufwendig werden würde.<br>
Wir planten um. Strichen viele Ideen und kamen schließlich auf ein andres Konzept.
Ein Zeitungsartikel über den Selbstmord dreier Mädchen, brachte uns auf den Grundgedanken.<br>
Ein Spiel dass nach dem Tod spielen würde, oder zwischen Tod und Leben.<br>
Wir entfernten weitere RPG- elemente um uns die Umsetzung möglichst einfach zu gestalten.
Schließlich sollte dies das erste Projekt werden, das wir umsetzen.
Zum jetzigen Zeitpunkt haben wir ein Spiel, dass eine Mischung aus Adventure und Splatter am besten beschreibt.
<br>
Die Grafik soll schwarz weiß mit jeweils einer anderen Farbe sein um die surreale Welt besser zu verdeutlichen.<br>
<br>
Eine erste Demo die das Kampfsystem und die Spielmechanik vorstellt ist bereits fertig.<br>
Als Engine verwenden wir wieder den Rpg Maker XP.<br>



