body{
background-color: #ebebeb;
background-image: url('tree_back.jpg');
background-repeat: no-repeat;
background-position: top;

}


.main{
margin: auto;
padding:40px;

width:1000px;
}

section{
  float: left;
  margin-top:20px;
  font-size: 20px;
  padding: 10px;
  width: 1000px;
}

nav {
  font-size: 20px;
  float: left;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 0px;
  width:940px;
  height:135px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 105px;
  background-image: url('Navi_sascha.png');
  white-space: nowrap;
}

nav ul {
  margin: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
    padding: 0.2em 20px;
}
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:visited {
  color: #79CDCD;
}
nav ul li a:hover {
	color: #069;
  text-decoration: underline;
}






.round {
  -moz-border-radius-right: 15px;
  -webkit-border-radius-right:15px;
}
